section{
  padding: 0 15px;
}

@media (min-width: 575.98px){
  section {
    padding: 0 calc(30% - 270px);
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(30% - 360px);
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(30% - 480px);
  }
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(30% - 590px);
  }
}

/*
  ... стандартные правила CSS ...
  например, выводим карточки товаров по 4 в ряд
*/
@media (max-width:768px) {
  /*
    ... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
}
@media (max-width:320px) {
  /*
    ... правила для смартфонов ...
    выводим карточки товаров по 1 в ряд
  */
}
.header{
  .header: 0 15px;
}

@media (min-width: 575.98px){
  .header {
    padding: 0 calc(30% - 270px);
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(30% - 360px);
  }
}

@media (min-width: 991.98px) {
  .header {
    padding: 0 calc(30% - 480px);
  }
}

@media (min-width: 1199.98px){
  .header {
    padding: 0 calc(30% - 590px);
  }
}
