.header {
  padding: 0 15px;

@media (min-width: 450px){
  .header {
    padding: 0 calc(50% - 265px);
  }
}

@media (min-width: 575.98px){
 .header {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  .header {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .header {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1389px){
  .header {
    padding: 0 calc(50% - 590px);
  }
}



section{
  padding: 0 15px;
}
@media (min-width: 100px){
  section {
    padding: 0 calc(50% - 20px);
  }
}

@media (min-width: 200px){
  section {
    padding: 0 calc(50% - 40px);
  }
}

@media (min-width: 300px) {
  section {
    padding: 0 calc(50% - 80px);
  }
}

@media (min-width: 400px){
  section {
    padding: 0 calc(50% - 160px);
  }
}

@media (min-width: 575.98px){
  section {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  section {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  section {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  section {
    padding: 0 calc(50% - 590px);
  }
}
