body
{
    margin: 0;
    padding: 0;
    background: url(https://gronbygg.github.io/Gronbygg/img/img.jpg) 0 0/auto 100% no-repeat;
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn {
    color: #1da1f3;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn 
{
    background: white;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    transition: 0.4s;
}
.table {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    background: white;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}
.icon {
    position: absolute;
    top: 1%;
    left: 45%;
    outline: none;
    height: 60px;
    font-size: 25px;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100px;
}
.navbar a {
    background-color: #949494;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
    display: block;
}

.navbar li {
    border-left: 10px solid #666;
    border-bottom: 1px solid #666;
}
.gron{
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
}
<style>
    th, td {
        padding: 10p;
}
th {
    background: #606060;
    color: #ffff;
}
td {
    background: #b5b5b5;
}
</style>
